@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

.itemForm {
  @apply my-3;
}

input,
textarea,
select {
  @apply border border-gray-200 rounded-md p-2 w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.06)];
  @apply mt-2 mb-3;
}
input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

h1 {
  @apply text-gray-900 mb-2 text-xl;
}

label {
  @apply text-blue-800 text-sm;
}

.btn-primary {
  @apply bg-blue-900 text-white px-4 py-1 rounded-md drop-shadow-[0_1px_1px_#1e3a8a];
}

table.basic {
  @apply w-full;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-2 py-2;
}

table.basic tbody tr td {
  @apply pl-5;
}

table.basic a {
  @apply bg-blue-700 text-white text-sm py-2 px-2 md:px-4 rounded-md inline-flex gap-1 mr-1 items-center
  hover:bg-blue-800 transition ease-in-out duration-150;
}
table.basic .delete {
  @apply bg-red-500 hover:bg-red-600 transition ease-in-out duration-150;
}

.btn-red,
.btn-default {
  @apply px-4 py-2 rounded-md text-white;
}

.btn-default {
  @apply bg-gray-400 inline-flex items-center gap-1 shadow-md
  hover:bg-gray-500 transition ease-in-out duration-150;
}

.btn-category {
  @apply bg-blue-700 text-white text-sm py-2 px-2 md:px-4 rounded-md inline-flex gap-1 items-center
  hover:bg-blue-800 transition ease-in-out duration-150;
}

.btn-red {
  @apply bg-red-800;
}
.inactiveIcon {
  @apply w-6 h-6;
}
.activeIcon {
  @apply w-6 h-6 text-blue-900;
}
